####################
# Docker variables #
####################
NFS_IP: 
NFS_TARGET: 
DATA_ROOT: 
#####################
# Storage variables #
#####################
LIGHT_CURVES_DIR: 
PROCESSED_DIR: 
EXTRACTED_TICS_FILE: 
CONFIRMED_DIR: 
CONFIRMED_CATALOG_FILE: 
##################
# Code variables #
##################
LIST_DB_FIELDS: 
OTHER_MISSIONS_IDS: 
LIST_CONFIRMED_FIELDS: 
NB_ROWS_HEADER: 
ENGINE_URL: 
RE_LAUNCH: 