all:
  vars:
      ansible_become: yes

  children:
    storage:
      hosts:
        nfs_server:
          ansible_host: <IP address of the nfs server>
    compute:
      hosts:
        planet-learning:
          ansible_host: <IP address of the computing node>